/.mc-lists.el
/.org-id-locations
/ac-comphist.dat
*.elc
/auto-save-list
/elpa/
/url/
/el-get/
/tramp
/.emacs.desktop
/.emacs.desktop.lock
/request/
/abbrev_defs
/bookmarks
/ido.last
/recentf
/network-security.data
/transient/
/.lsp-session-v1
/projectile-bookmarks.eld
/projectile.cache
/eaf/
/eln-cache/
/devdocs/
/org-roam.db
/diary
